<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term 1/ Machine Paradox</title>
    <link rel="stylesheet" href="../../../docs/stylesheets/customtheme.css">
</head>
<body>
        <a href="#contact">Contact</a>
    </div><div class="sidebar">
        <a href="footer.html">
            00 Home
        </a>
        <a href="About.html">
            01 About
        </a>
        <a href="Master.html">
            02 Master Project
        </a>
        <div class="dropdown">
            <button class="dropbtn">03 Term 1 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="term 1/Landing.html">
                    -> Landing
                </a>
                <a href="term 1/DesignStudio.html">
                    -> Design 
                </a>
                <a href="term 1/DocumentingDesign.html">
                    -> Doc. Design 
                </a>
                <a href="term 1/AoWS.html">
                    -> AoWS
                </b>
                <a href="term 1/MachineParadox.html">
                    -> Machine Paradox
                </b>
            </div>
        </div>
        <a href="term2.html">04 Term 2</a>
        <a href="term3.html">05 Term 3</a>
    </div>
    <div class="content">

        I'm Marius
        I am currently starting a journey through the MDEF program. You can follow me here and I will share my thoughts and experiences. 
        My path has led from a technical school to an Internet of Things (IoT) degree program, where I mainly designed Projects that were sustainable and socially driven, to a master degree program focused in the field of research, knowledge sharing and communities, in Barcelona. I am new to the open source field which I am extremely excited about. I hope to learn methods to tackle any problem.
    </div>
</body>
</html>